<ModConfiguration>
	<Id>GeniusIsme.EnhancedPowerFlow</Id>
	<Name>Enhanced Power Flow</Name>
  <Description>
    Your power now flows much more freely between storages and chargers. There is no sharing back, so your adjacent blocks will conduct power on the maximum speed.

    Features:

    - You can chain power blocks and other power storing machines, transfer rate will not go down at least before the 5th chained machine.
    - When you try to increase transfer rate adding more power blocks around, it works cleanly and almost linearly, due to lack of sharing back.
    - Power will flow from smaller blocks to bigger ones, from the one most full to the one least full. This includes T5 battery.
    - Big solar panels are no longer restricted in what they can power, any consumer underneath will do.
    - Conduit no longer breaks when not connected to battery, it will just stop working. You can also build conduit first, and it will flip if needed, depending on witch side you build the battery.
    - More comprehensible readouts on power transfer.
    - Important CPH will now suck all your batteries (at least that's inteded, I haven't tested it).

    Missfeatures:

    - Recipes for mod machines replace recipes for old ones. Im still on the fence on this one. The idea was to not have lots of the same recipes, may be I'll revisit this decision. Recipes in question: PSB, PSB mk 2, PSB mk 3, organic PSB, Battery mk4, Battery mk5, Solar Panel mk2, Organic Solar Panel mk2, Induction Charger, Conduit.
    - Camobots will no longer feed on your power.
  </Description>
  <ChangeNote>First release</ChangeNote>
  <Version>2</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
</ModConfiguration>
